.bout{
    background-color: #F1A816;
    float:right;
    font-size: 31px;
    font-family: monospace;
    width: 750px;
    margin-top: 40px;
    text-align: left;
    border: solid 2px white;
    padding : 5px;
}