/* .container{
    width: 500px;
    height: 600px;
    background-color: #FADA96;
    margin-left: 37%;
} */

.hs{
    width : 300px;
    height: 150px;
    background-color: white;
    margin-left: 100px;
    margin-top: 50px;
}

.card{
    height : 700px;
    background-color: #FADA96;
    padding-left: 42%;
}

.edu2{
    padding-top: 20px;
}

.edu1{
    padding-top: 20px;
}

h1{
    font-family: monospace;
    color: white;
    font-size: 60px;
    padding-right: 1000px;
}