.Prof{
    background-color: #F6C65F;

    
    
    
}

.Pic{
    padding-top: 25px;
    margin-left: 100px;
    height: 400px;
    border-radius: 50%;
    
}

.Header{
    float:right;
    padding-top: 30px;
    font-size: 70px;
    padding-right: 200px;
    font-family: monospace;
    color: white;
}
